html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#videoContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: red;
    z-index: 0;
    border-bottom: 1px solid black;
}

#videoContainer video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 0;
}

#sellButton {
    z-index: 1;
    opacity: 0.5;
    border: 1px solid black;
    border-radius: 0.2rem;
    position: fixed;
    width: 7%;
    height: 7%;
}

#navbar {
    width: 100%;
    background-color: white;
    position: fixed;
    text-align: center;
    border-bottom: 1px solid black;
    z-index: 1;
    opacity: 0.7;
}

#secondContainer {
    width: 100%;
    height: 100vh;
}