html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

#startImage {
    width: 100%;
    height: 100vh;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sellButton {
    opacity: 0.5;
    border: 1px solid black;
    border-radius: 0.2rem;
    position: fixed;
    width: 7%;
    height: 7%;
}

#navbar {
    width: 100%;
    background-color: white;
    position: fixed;
    text-align: end;
    border-bottom: 1.5px solid black;
}

#navbar p {
    margin-right:5rem;
}

#secondContainer {
    width: 100%;
    height: 100vh;
}