* {
  background-color: transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family:sans-serif;
  overscroll-behavior: none;
}

#logo {
  width: 120px;
  height: auto;
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: red;
}

/* landing page */
#landing-page {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#garderoben {
  font-size: 15rem;
  color: black;
  z-index: 10;
  position: fixed;
  margin: 0;
  top: 33%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  text-shadow: 2px 2px 4px black;
  white-space: nowrap;
  pointer-events: none; 
}

#garderoben.absolute {
  position: absolute;
  top: 133vh;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none; 
}

#W {
  font-size: 30rem;
  position: absolute;
  color:gray;
  z-index: 9;
  margin: 0;
  font-family: serif;
  background-color: transparent;
  text-shadow: 2px 2px 2px gray;
  pointer-events: none; 
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border-bottom: 1.5px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.shop {
  display: flex;
  gap: 2rem;
}

.navbar .logo {
  width: 120px;
  height: auto;
  padding: 0;
  margin: 0;
}

.navbar .nav-links {
  display: flex;
  gap: 2rem;
}

.navbar a, .navbar a:visited {
  text-decoration: none;
  color: black;
}

.navbar a:hover, .navbar a:active {
  text-decoration: underline;
}

/* main page */
.main-page {
  display: flex;
  height: 100vh;
  width: 100%;
  border-top: 1px solid black;
}

.video-main-page {
  display: flex;
  height: 100vh;
  width: 50%;
  position: absolute;
  right: 0;
  background-color: red;
  border-left: 1px solid black;
}

.video-main-page video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.info-main-page {
  height: 100vh;
  width: 50%;
  position: absolute;
  left: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.info-main-page h1 {
  font-size: 5rem;
  margin: 20px;
}

/* footer */
.footer {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black;
}

/* products */
.product-card {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

/* responsive */

@media (max-width: 768px) {
  .navbar {
    padding:10px 10px;
  }

  #garderoben {
    font-size: 3.7rem;
    top:47dvh;
  }
  #garderoben.absolute {
    top: 147dvh;
  }

  #W {
    font-size: 10rem;
    top: 37dvh;
  }

  .info-main-page h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 850px) {
  #garderoben {
    font-size: 8rem;
    top:47dvh;
  }
  #garderoben.absolute {
    top: 147dvh;
  }

  #W {
    font-size: 18rem;
    top: 36dvh;
  }

  .info-main-page h1 {
    font-size: 3rem;
  }
}

@media (max-width: 1100px) {
  #garderoben {
    font-size: 4rem;
    top:47dvh;
  }
  #garderoben.absolute {
    top: 147dvh;
  }

  #W {
    font-size: 10rem;
    top: 39dvh;
  }

  .info-main-page h1 {
    font-size: 2rem;
  }
}