* {
  background-color: aliceblue;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: url('src/assets/font/atwriter.ttf');
}

html, body {
  font-family: "Inter", sans-serif;
  overscroll-behavior: none;
}

#logo {
  width: 120px;
  height: auto;
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: red;
}

/* landing page */
#landing-page {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

#garderoben{
  font-size: 10rem;
  color: black;
  z-index: 10;
  position: absolute;
  z-index: 10;
  margin: 0;
  background-color: transparent;
}

#W {
  font-size: 20rem;
  color:gray;
  z-index: 9;
  position: absolute;
  margin: 0;
}

/* navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar .logo {
  width: 120px;
  height: auto;
  padding: 0;
  margin: 0;
}

.navbar .nav-links {
  display: flex;
  gap: 2rem;
}

.navbar a, .navbar a:visited {
  text-decoration: none;
  color: black;
}

.navbar a:hover, .navbar a:active {
  text-decoration: underline;
}
