* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#landing-page {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}